/* Split the screen in half */
.admin-page-split {
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    height: 90vh;
    margin-top: 50px;
}

/* Control the left side */
.leftSideAdmin {
    left: 0;
    width: 20%;
}

/* Control the right side */
.rightSideAdmin {
    right: 0;
    width: 80%;
    background-color: #ffffff;
    text-align: center;
}
